body {
	margin: 0;
	background: #5D5D5D;
}

/* color-list */
.color-list {
	list-style: none;
	padding-left: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 311px;
	margin-left: -155.5px;
	margin-top: -61px;
	/*transform: translate(-50%, -50%);*/
}

.color-list li {
	display: inline-block;
	margin-right: 3px;
}

.color-list li:nth-child(5n) {
	margin-right: 0;
}

.color-list li a {
	transition: transform .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.color-list li a:hover,
.color-list li a:focus {
	transform: scale(1.35);
}
.color-list li a:focus {
	outline: none;
}

.box {
	display: block;
	width: 50px;
	height: 50px;
	border: 3px solid #DADADA;
	border-radius: 50%;
	-webkit-filter: blur(10px) grayscale(100%);
	filter: blur(10px) grayscale(100%);
}

.box:hover,
.box:focus {
	-webkit-filter: none;
	filter: none;
}

.c1 { background-color: #0c274c; }
.c2 { background-color: #18709c; }
.c3 { background-color: #19bdc4; }
.c4 { background-color: #fff6ee; }
.c5 { background-color: #ef4089; }
.c6 { background-color: #364659; }
.c7 { background-color: #f2f2f2; }
.c8 { background-color: #f2d2ae; }
.c9 { background-color: #ec8871; }
.c10 { background-color: #ea5545; }