body {
	margin: 0;
	background: hsl(0, 0%, 36%);
}

/* color-list */
.color-list {
	list-style: none;
	padding-left: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 311px;
	margin-left: -155.5px;
	margin-top: -61px;
	/*transform: translate(-50%, -50%);*/
}

.color-list li {
	display: inline-block;
	margin-right: 3px;
}

.color-list li:nth-child(5n) {
	margin-right: 0;
}

.color-list li a {
	transition: all .6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.color-list li a:hover,
.color-list li a:focus {
	transform: scale(1.2);
}
.color-list li a:focus {
	outline: none;
}

.box {
	display: block;
	width: 50px;
	height: 50px;
	border: 3px solid hsl(0, 0%, 85%);
	border-radius: 50%;
	-webkit-filter: blur(3px) grayscale(70%);
	filter: blur(3px) grayscale(70%);
}

.box:hover,
.box:focus {
	-webkit-filter: none;
	filter: none;
}

.c1 { background-color: hsl(215, 73%, 17%); }
.c2 { background-color: hsl(200, 73%, 35%); }
.c3 { background-color: hsl(182, 77%, 43%); }
.c4 { background-color: hsl(28, 100%, 97%); }
.c5 { background-color: hsl(335, 85%, 59%); }
.c6 { background-color: hsl(213, 24%, 28%); }
.c7 { background-color: hsl(0, 0%, 95%); }
.c8 { background-color: hsl(32, 72%, 82%); }
.c9 { background-color: hsl(11, 76%, 68%); }
.c10 { background-color: hsl(6, 80%, 59%); }