@charset "utf-8";
/* CSS Document */
.color_list {overflow:hidden;position:absolute;left:50%;bottom:20px;margin-left:-175px;}
.color_list li {display:inline-block;width:50px;height:50px;list-style:none;}
.color_list li a {display:block;width:50px;height:50px;}
.color_list li .c1 {background:url(../img/thum1.jpg) 0 0 no-repeat;}
.color_list li .c2 {background:url(../img/thum2.jpg) 0 0 no-repeat;}
.color_list li .c3 {background:url(../img/thum3.jpg) 0 0 no-repeat;}
.color_list li .c4 {background:url(../img/thum4.jpg) 0 0 no-repeat;}
.color_list li .c5 {background:url(../img/thum5.jpg) 0 0 no-repeat;}
.bg1 {background:url(../img/img1.jpg) 0 0 no-repeat; -webkit-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}
.bg2 {background:url(../img/img2.jpg) 0 0 no-repeat;-webkit-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}
.bg3 {background:url(../img/img3.jpg) 0 0 no-repeat;-webkit-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}
.bg4 {background:url(../img/img4.jpg) 0 0 no-repeat;-webkit-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}
.bg5 {background:url(../img/img5.jpg) 0 0 no-repeat;-webkit-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}