body {
	margin: 0;
	background: #de5544;
}

#jrbechard {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 400px;
	background: url(images/jrbechard.jpg) no-repeat;
	transform: translate(-50%, -50%);
}

#jrbechard:hover,
#jrbechard:focus {
	/*애니메이션*/
	-webkit-animation: movieclip .3s steps(4) forwards 1;
	animation: movieclip .3s steps(4) forwards 1;
}

/*movieclip 애니메이션*/
@-webkit-keyframes movieclip {
	0% {
		background-position: left top;
	}
	100% {
		background-position: right top;
	}
}

@keyframes movieclip {
	0% {
		background-position: left top;
	}
	100% {
		background-position: right top;
	}
}