body {
	margin: 0;
	background: #555;
}

.picList {
	margin: 0;
	padding: 0;
	/*left: 50%;*/
	position: absolute;
	transform: translate(30%, 30%);
	list-style: none;
}

.picList li {
	display: inline-block;
}

.box {
	display: block;
	width: 150px;
	height: 100px;
	border: 3px solid #ddd;
}

/*.picBG {*/
	/*display: none;*/
}

/*.picBG img {*/
	width: 100vw;
	height: 100vh;
	background: center top no-repeat;
	background-size: cover;
}