@charset "utf-8";
@import "normalizr.css";

body {
	max-width: 680px;
	margin: 0 auto;
	padding: 1em;
	background: #34C0FF;
	color: #fff;
}

[type=button] {
	border: 0;
	padding: 0.3em 0.8em;
	background: #000;
	color: #fff;
}

[type=button]:active {
	position: relative;
	top: 2px;
}