@charset "utf-8";
/*! tab.css © yamoo9.net, 2015 */

@import url("common/normalize.css");

/**
 * --------------------------------
 * 기본 스타일
 * --------------------------------
 */
html, body {
	height: 100%;
}
body {
	margin: 0;
	font: 14px/1.5 Arial, Sans-Serif;
	color: #333;
	background: #fff;
}

*, *::before, *::after {
	box-sizing: border-box;
}

header *, main *, aside *, footer * {
	margin: 0;
}

header {
	height: 180px;
	background: #FC4A54;
}

main {
	overflow: hidden;
	float: left;
	width: 70%;
	height: 900px;
}

aside {
	float: left;
	width: 30%;
	height: 900px;
	background: #FFB03B;
}

footer {
	clear: both;
	height: 220px;
	background: #34C0FF;
}

h2 {
	font-family: 'Helvetica Neue';
	letter-spacing: 0.03em;
	font-weight: 400;
	font-size: 30px;
	padding-left: 15px;
	padding-top: 15px;
	color: #fff;
}

/**
 * --------------------------------
 * 탭 메뉴 디자인
 * --------------------------------
 */
.tab {
	margin-top: 20px;
	margin-left: 20px;
	width: 600px;
}

.tab ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.tab a {
	text-decoration: none;
}
.tab a:hover,
.tab a:focus {
	outline: 3px solid #ff0;
}

.tab-menubar {
	position: relative;
}

.tab-menuitem {
	position: absolute;
	top: 0;
	padding: .2em .8em;
	background: #000;
	color: #fff;
}

.tab-menuitem:hover,
.tab-menuitem:focus {
	background: #cfcfcf;
	color: #313331;
}

.tab-menuitem.item-1 { left: 0; }
.tab-menuitem.item-2 { left: 55px; }
.tab-menuitem.item-3 { left: 110px; }

.tab-menu {
	/*display: none;*/
	position: absolute;
	top: 28px;
	background: #000;
	color: #fff;
	padding: 2em;
}

.tab-menu img {
	display: block;
	margin-bottom: 1em;
}

.tab-menu a {
	color: #FC414B;
}

.tab-menu a:hover,
.tab-menu a:focus {
	outline: 3px solid #ff0;
}

.tab-menu.active {
	z-index: 10;
}