
body, div, ul, li, a {
	margin:0;
	padding:0;
}
ul, li {list-style:none;}

.boxwrap{/*width: 1200px*/; height: 500px; margin: 0 auto; /*overflow: hidden;*/}
.gall_list li{display: inline-block; width: 100%;height: 500px;}
.gall_list .imgBox{width:100%; height:500px;   display: block;}
.gall01{background: url(../images/bg_01.jpg) no-repeat;}
.gall02{background: url(../images/bg_02.jpg) 0 no-repeat;}
.gall03{background: url(../images/bg_03.jpg) 0 no-repeat;}
.gall04{background: url(../images/bg_04.jpg) 0 no-repeat;}
.gall05{background: url(../images/bg_05.jpg) 0 no-repeat;}