@charset "utf-8";
/**
 * --------------------------------
 * 문서 초기화
 * --------------------------------
 */
body {
	margin: 0;
}

/*#dim {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
}*/