@charset "utf-8";
/**
 * --------------------------------
 * 문서 초기화
 * --------------------------------
 */
body {
	margin: 0;
}

/*#dim {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
}*/

.popup-layer {
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 320px;
	background: #333;
	color: #fff;
	transform: translate(-50%, -50%);
}

/* IE 8- */
.no-csstransforms .popup-layer {
	margin-left: -300px;
	margin-top: -160px;
}