@charset "utf-8";
/*! style.css © yamoo9.net, 2015 */

/**
 * --------------------------------
 * 기본 스타일 모듈 호출
 * normalize.css [+]
 * reset.css [-]
 * --------------------------------
 */
@import "normalize.css";

/*html, body {
	height: 100%;
}*/

body {
	/*height:         100vh;*/
	margin:         0;
	color:          #333;
	font-size:      14px;
	font-size:      0.875rem;
	letter-spacing: -0.03em;
}