@charset "utf-8";
@import url("common/normalize.css");

/**
 * --------------------------------
 * 페이지 디자인
 * --------------------------------
 */
body {
	margin:     0;
	font:       0.875rem/1.5 Verdana, Sans-Serif;
	background: #FC414B;
}

#wallpages {
	height: 100vh;
	background: #000;
}

#wallpages div {
	float: left;
	width: 50%;
	height: 50vh;
}

#wallpages .top.left     { background: #BCBCBC; }
#wallpages .top.right    { background: #efefef; }
#wallpages .bottom.left  { background: #848484; }
#wallpages .bottom.right { background: #645646; }
